# 产品库存查询测试报告

## 测试时间
2025-02-05 23:45:37

## 测试环境
- API URL: https://sandbox.ipipv.com
- APP ID: AK20241120145620
- APP KEY: AK20241120145620

## 测试结果汇总

- 总测试用例数量: 6
- 成功用例数量: 6
- 失败用例数量: 0
- 总产品数量: 113

## 详细测试结果

### 代理类型: 101
- 查询结果: 成功
- 无可用产品

### 代理类型: 102
- 查询结果: 成功
- 无可用产品

### 代理类型: 103
- 查询结果: 成功
- 产品数量: 112
- 产品列表:
  ```
  productNo: mb_gmhd5exdf
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: CAN
  stateCode: CAN000
  cityCode: CAN000000
  detail: 
  costPrice: 10.0000
  inventory: 383
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5ex4v
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: USA
  stateCode: USA0WA
  cityCode: USA0WASEA
  detail: 
  costPrice: 10.0000
  inventory: 2
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5ex56
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 2
  countryCode: DEU
  stateCode: DEU000
  cityCode: DEU000000
  detail: 
  costPrice: 10.0000
  inventory: 10
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5exg3
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 7
  countryCode: BRA
  stateCode: BRA000
  cityCode: BRA000000
  detail: 
  costPrice: 10.0000
  inventory: 495
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5exp2
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: USA
  stateCode: USA000
  cityCode: USA000000
  detail: 
  costPrice: 10.0000
  inventory: 341
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5exet
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: CHN
  stateCode: 
  cityCode: 
  detail: 
  costPrice: 10.0000
  inventory: 1299
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5ex4c
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: USA
  stateCode: USA0CA
  cityCode: USA0CASJC
  detail: 
  costPrice: 10.0000
  inventory: 272
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5exqb
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 2
  countryCode: GBR
  stateCode: GBR000
  cityCode: GBR000000
  detail: 
  costPrice: 10.0000
  inventory: 1301
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5exsa
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: MYS
  stateCode: MYS000
  cityCode: MYS000000
  detail: 
  costPrice: 10.0000
  inventory: 1340
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5ex6l
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: ARE
  stateCode: ARE000
  cityCode: ARE000000
  detail: 
  costPrice: 10.0000
  inventory: 217
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5exv0
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: THA
  stateCode: THA000
  cityCode: THA000000
  detail: 
  costPrice: 10.0000
  inventory: 195
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5extm
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: VNM
  stateCode: VNM000
  cityCode: VNM000000
  detail: 
  costPrice: 10.0000
  inventory: 184
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5expg
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: IDN
  stateCode: IDN000
  cityCode: IDN000000
  detail: 
  costPrice: 10.0000
  inventory: 198
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5exem
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: CHN
  stateCode: 
  cityCode: 
  detail: 
  costPrice: 10.0000
  inventory: 149
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5exdi
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: TUR
  stateCode: TUR000
  cityCode: TUR000000
  detail: 
  costPrice: 10.0000
  inventory: 252
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5exv3
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: JPN
  stateCode: JPN000
  cityCode: JPN000000
  detail: 
  costPrice: 10.0000
  inventory: 711
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5exgm
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: IND
  stateCode: IND000
  cityCode: IND000000
  detail: 
  costPrice: 10.0000
  inventory: 246
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmhd5ex97
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: USA
  stateCode: USA0NV
  cityCode: USA0NVVGI
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xaxeg
  productName: home static proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: USA
  stateCode: USA0VT
  cityCode: USA0VTBTV
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xaxfr
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: PHL
  stateCode: PHL000
  cityCode: PHL000MNL
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xax5q
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: JPN
  stateCode: JPN000
  cityCode: JPN000013
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xaxig
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: THA
  stateCode: THA000
  cityCode: THA000010
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xax5r
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: IDN
  stateCode: IDN000
  cityCode: IDN0000JK
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xaxuq
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: VNM
  stateCode: VNM000
  cityCode: VNM0000HC
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xax5m
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: ARE
  stateCode: ARE000
  cityCode: ARE0000SH
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xaxd4
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: MYS
  stateCode: MYS0KL
  cityCode: MYS0KLKUL
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xaxrm
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: IND
  stateCode: IND000
  cityCode: IND000AJL
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xaxke
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: TUR
  stateCode: TUR000
  cityCode: TUR000IST
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xax94
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 2
  countryCode: GBR
  stateCode: GBRENG
  cityCode: GBRENGLND
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xax3o
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 2
  countryCode: DEU
  stateCode: DEU000
  cityCode: DEU000FFO
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xax6d
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 7
  countryCode: BRA
  stateCode: BRA000
  cityCode: BRA0000SP
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xaxcg
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: USA
  stateCode: USA0KS
  cityCode: USA0KSKCK
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xaxs3
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: USA
  stateCode: USA0DC
  cityCode: USA0DCWAS
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmv6xaxac
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: USA
  stateCode: USA0IL
  cityCode: USA0ILCHI
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmwik8x0l
  productName: Static Home ISP Proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: CAN
  stateCode: CAN000
  cityCode: CAN000TOR
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmxaa44md
  productName: home static proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: USA
  stateCode: USA000
  cityCode: USA000000
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmxaa44m4
  productName: home static proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 6
  countryCode: USA
  stateCode: USA000
  cityCode: USA000000
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmxaa44g7
  productName: home static proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 1
  countryCode: IND
  stateCode: IND000
  cityCode: IND000MUB
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmxaa447m
  productName: home static proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 2
  countryCode: DEU
  stateCode: DEU000
  cityCode: DEU0000BE
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 2
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 5
  bandWidthType: 1
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: mb_gmxmyw4r2
  productName: home static proxy
  proxyType: 103
  useType: 1
  protocol: 1,2,3
  useLimit: 1
  sellLimit: 3
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 0
  unit: 0
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: mb
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_589
  productName: us-va
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0VA
  cityCode: USA0VA000
  detail: 美国-弗吉尼亚
  costPrice: 10.0000
  inventory: 2554
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_590
  productName: us-ny
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0NY
  cityCode: USA0NYQEE
  detail: 美国-纽约
  costPrice: 10.0000
  inventory: 3242
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_591
  productName: gb-london
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 2
  countryCode: GBR
  stateCode: GBRENG
  cityCode: GBRENGLND
  detail: 英国-伦敦
  costPrice: 10.0000
  inventory: 2266
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_592
  productName: tw
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: CHN
  stateCode: CHN071
  cityCode: CHN071000
  detail: 中国-台湾
  costPrice: 10.0000
  inventory: 283
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_593
  productName: us-lv
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0NV
  cityCode: USA0NVLAS
  detail: 美国-拉斯维加斯
  costPrice: 10.0000
  inventory: 2022
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_594
  productName: hk
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: CHN
  stateCode: CHN081
  cityCode: CHN081000
  detail: 中国-香港
  costPrice: 10.0000
  inventory: 3609
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_595
  productName: us-mia
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0FL
  cityCode: USA0FLMIA
  detail: 美国-迈阿密
  costPrice: 10.0000
  inventory: 849
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_596
  productName: lu
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 2
  countryCode: LUX
  stateCode: LUX000
  cityCode: LUX0000LL
  detail: 卢森堡
  costPrice: 10.0000
  inventory: 390
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_597
  productName: de-fra
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 2
  countryCode: DEU
  stateCode: DEU000
  cityCode: DEU000FFO
  detail: 德国-法兰克福
  costPrice: 10.0000
  inventory: 1060
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_598
  productName: kr
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: KOR
  stateCode: KOR000
  cityCode: KOR000000
  detail: 韩国
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_599
  productName: sg
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: SGP
  stateCode: SGPSGP
  cityCode: SGPSGPSGP
  detail: 新加坡
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_600
  productName: jp-tky
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: JPN
  stateCode: JPN000
  cityCode: JPN000013
  detail: 日本-东京
  costPrice: 10.0000
  inventory: 830
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_601
  productName: au
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 4
  countryCode: AUS
  stateCode: AUS000
  cityCode: AUS000000
  detail: 澳大利亚
  costPrice: 10.0000
  inventory: 460
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_602
  productName: br
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 7
  countryCode: BRA
  stateCode: BRA000
  cityCode: BRA000000
  detail: 巴西
  costPrice: 10.0000
  inventory: 715
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_603
  productName: ca
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: CAN
  stateCode: CAN000
  cityCode: CAN000000
  detail: 加拿大
  costPrice: 10.0000
  inventory: 1020
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_604
  productName: my-kul
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: MYS
  stateCode: MYS0KL
  cityCode: MYS0KLKUL
  detail: 马来-吉隆坡
  costPrice: 10.0000
  inventory: 3354
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_605
  productName: nl
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 2
  countryCode: NLD
  stateCode: NLD000
  cityCode: NLD000000
  detail: 荷兰
  costPrice: 10.0000
  inventory: 424
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_606
  productName: ph-mnl
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: PHL
  stateCode: PHL000
  cityCode: PHL000MNL
  detail: 菲律宾-马尼拉
  costPrice: 10.0000
  inventory: 1780
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_607
  productName: th-bkk
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: THA
  stateCode: THA000
  cityCode: THA000010
  detail: 泰国-曼谷
  costPrice: 10.0000
  inventory: 1419
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_608
  productName: id-jkt
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: IDN
  stateCode: IDN000
  cityCode: IDN0000JK
  detail: 印尼-雅加达
  costPrice: 10.0000
  inventory: 1900
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_609
  productName: tr
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: TUR
  stateCode: TUR000
  cityCode: TUR000000
  detail: 土耳其
  costPrice: 10.0000
  inventory: 2232
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_610
  productName: ua
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 2
  countryCode: UKR
  stateCode: UKR000
  cityCode: UKR000000
  detail: 乌克兰
  costPrice: 10.0000
  inventory: 1135
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_611
  productName: us-ht
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0TX
  cityCode: USA0TXHOU
  detail: 美国-休斯顿
  costPrice: 10.0000
  inventory: 905
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_612
  productName: us-cb
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0SC
  cityCode: USA0SCCOV
  detail: 美国-哥伦比亚
  costPrice: 10.0000
  inventory: 492
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_613
  productName: us-ws
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0WA
  cityCode: USA0WA000
  detail: 美国-华盛顿
  costPrice: 10.0000
  inventory: 850
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_614
  productName: us-sf
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0CA
  cityCode: USA0CASFO
  detail: 美国-旧金山
  costPrice: 10.0000
  inventory: 909
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_615
  productName: us-la
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0CA
  cityCode: USA0CALAX
  detail: 美国-洛杉矶
  costPrice: 10.0000
  inventory: 1458
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_616
  productName: us-st
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0WA
  cityCode: USA0WASEA
  detail: 美国-西雅图
  costPrice: 10.0000
  inventory: 889
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_617
  productName: us-hl
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0HI
  cityCode: USA0HI000
  detail: 美国-夏威夷
  costPrice: 10.0000
  inventory: 752
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_618
  productName: us-cc
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 6
  countryCode: USA
  stateCode: USA0IL
  cityCode: USA0ILCHI
  detail: 美国-芝加哥
  costPrice: 10.0000
  inventory: 898
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_619
  productName: vn
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: VNM
  stateCode: VNM000
  cityCode: VNM000000
  detail: 越南
  costPrice: 10.0000
  inventory: 311
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_620
  productName: ae-dubai
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: ARE
  stateCode: ARE000
  cityCode: ARE0000DU
  detail: 迪拜
  costPrice: 10.0000
  inventory: 1459
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_621
  productName: kr-seoul
  proxyType: 103
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 1
  countryCode: KOR
  stateCode: KOR011
  cityCode: KOR011SEO
  detail: 韩国
  costPrice: 10.0000
  inventory: 1842
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuyr2
  productName: 墨西哥
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 墨西哥
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuy42
  productName: 日本-丰田
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 日本-丰田
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuyf0
  productName: 日本-大阪
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 日本-大阪
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuy0a
  productName: 日本-札幌
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 日本-札幌
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuzbp
  productName: 中国-澳门
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 中国-澳门
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuz75
  productName: 老挝-万象
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 老挝-万象
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuzdg
  productName: 缅甸-仰光
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 缅甸-仰光
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuzuf
  productName: 柬埔寨-金边
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 柬埔寨-金边
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfutgt
  productName: 印度-德里
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 印度-德里
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfut4t
  productName: 马里-巴马科
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 马里-巴马科
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfut4g
  productName: 加纳-阿克拉
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 加纳-阿克拉
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfutkp
  productName: 刚果金-金沙萨
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 刚果金-金沙萨
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfujgn
  productName: 南非-约翰内斯堡
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 南非-约翰内斯堡
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfujrv
  productName: 肯尼亚-内罗毕
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 肯尼亚-内罗毕
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfujj0
  productName: 莫桑比克-马普托
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 莫桑比克-马普托
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfukiq
  productName: 斯威士兰-姆巴巴内
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 斯威士兰-姆巴巴内
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuk0n
  productName: 德国-柏林
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 德国-柏林
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfukfs
  productName: 法国-巴黎
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 法国-巴黎
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuk9k
  productName: 马来西亚-哥打巴鲁
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 马来西亚-哥打巴鲁
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfumoi
  productName: 越南-河内
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 越南-河内
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfumi6
  productName: 越南-胡志明
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 越南-胡志明
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfumeb
  productName: 孟加拉国-达卡
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 孟加拉国-达卡
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfumn7
  productName: 埃及-开罗
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 埃及-开罗
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfum0j
  productName: 安哥拉-罗安达
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 安哥拉-罗安达
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuml6
  productName: 印度-孟买
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 印度-孟买
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfumsi
  productName: 哈萨克斯坦-阿拉木图
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 哈萨克斯坦-阿拉木图
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfum8t
  productName: 沙特-利雅得
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 沙特-利雅得
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfumi9
  productName: 爱沙尼亚-塔林
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 爱沙尼亚-塔林
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfum79
  productName: 澳大利亚-悉尼
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 澳大利亚-悉尼
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfum9p
  productName: 西班牙-巴塞罗那
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 西班牙-巴塞罗那
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfum3m
  productName: 约旦-安曼
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 约旦-安曼
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfumhr
  productName: 科威特
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 科威特
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfum2f
  productName: 美国-达拉斯
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 美国-达拉斯
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfuno4
  productName: 西班牙-马德里
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 西班牙-马德里
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfunje
  productName: 美国-堪萨斯城
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 美国-堪萨斯城
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfun6j
  productName: 美国-圣何塞
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 美国-圣何塞
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfunut
  productName: 伊拉克-巴格达
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 伊拉克-巴格达
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmwwfunn2
  productName: 沙特-吉达
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 沙特-吉达
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```
  ```
  productNo: ipideash_gmkc9cc99
  productName: 俄罗斯-莫斯科
  proxyType: 103
  useType: 1
  protocol: 1,2
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 俄罗斯-莫斯科
  costPrice: 10.0000
  inventory: 0
  ipType: 1
  ispType: 0
  netType: 0
  duration: 1
  unit: 3
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 0
  supplierCode: ipideash
  cidrBlocks: None
  drawType: 0
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```

### 代理类型: 104
- 查询结果: 成功
- 产品数量: 1
- 产品列表:
  ```
  productNo: out_dynamic_1
  productName: 海外动态
  proxyType: 104
  useType: 
  protocol: 1
  useLimit: 0
  sellLimit: 0
  areaCode: 
  countryCode: 
  stateCode: 
  cityCode: 
  detail: 海外动态
  costPrice: 3.5000
  inventory: 100
  ipType: 1
  ispType: 0
  netType: 0
  duration: 30
  unit: 1
  bandWidth: 0
  bandWidthType: 0
  bandWidthPrice: 0.0000
  maxBandWidth: 0
  flow: 0
  cpu: 0
  memory: 0
  enable: 1
  supplierCode: ipidea
  cidrBlocks: None
  drawType: 3
  refundDuration: 0
  ipCount: 0
  ipDuration: 0
  assignIp: -1
  parentNo: 
  cidrStatus: -1
  oneDay: -1
  ```

### 代理类型: 105
- 查询结果: 成功
- 无可用产品

### 代理类型: 201
- 查询结果: 成功
- 无可用产品

