.userManagement {
  :global {
    .ant-card {
      margin-bottom: 24px;
    }

    .ant-form {
      margin-bottom: 24px;
    }

    .ant-table {
      background: #fff;
    }

    .ant-tag {
      min-width: 60px;
      text-align: center;
    }
  }
} 